# SmartHome Server V1
# Lokale .env aus dieser Datei erzeugen, wenn Ports oder Defaults abweichen sollen.

TZ=Europe/Berlin

MQTT_BIND_ADDRESS=0.0.0.0
MQTT_PORT=1883
MQTT_HOST=mosquitto

NODERED_BIND_ADDRESS=0.0.0.0
NODERED_PORT=1880

INFLUX_BIND_ADDRESS=127.0.0.1
INFLUX_PORT=8086
INFLUXDB_ADMIN_USERNAME=smarthome
INFLUXDB_ADMIN_PASSWORD=change-me-influx-password
INFLUXDB_ADMIN_TOKEN=smarthome-dev-influx-token
INFLUXDB_ORG=smarthome
INFLUXDB_BUCKET=smarthome_sensoren
INFLUXDB_BUCKET_RETENTION=52w

WEATHER_PROVIDER=open-meteo
WEATHER_LOCATION_LABEL=
WEATHER_LATITUDE=
WEATHER_LONGITUDE=
WEATHER_POLL_MINUTES=15
WEATHER_API_BASE_URL=https://api.open-meteo.com/v1/forecast

